@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    // height: 3000px;
}

nav li:last-child a{
    background: $primary;
}

nav li a:hover{
    transition: $smooth;
    &:hover{

        color: $primary;
    }
}

section.hero{
    background: $secondry;
}

.size{
    background: $secondry;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    border-radius: 10px;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}


section.cart{
    background: $secondry;
    .amount{
        color: $primary
    }
}

section.login{
    background: $secondry;
    min-height: calc(100vh - 86px);
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

a.link{
    color: $primary
}